@using MediaHub.Data.Model
@namespace MediaHub.View

@if (MediaList != null)
{
   @if (MediaList.Count > 0)
   {
       <table class="table">
               <thead>
                   <tr>
                       <th>Artwork</th>
                       <th>Title</th>
                       <th>Genres</th>
                       @if (ShowReleaseDate)
                       {
                           <th>Year</th>
                       }
                       <th>Overall Rating</th>
                       @if (UserRatings != null)
                       {
                       <th>User Rating</th>
                       }
                   </tr>
               </thead>
               <tbody>
               @foreach (var media in MediaList)
               {
                   <tr>
                       <td><NavLink href=@{"movieDetailView/"+@media.Id}><img width="100px" src="@media.PosterUrl"></NavLink></td>
                       <td>@media.Title</td>
                       <td>@string.Join(", ", media.Genres)</td>
                       @if (ShowReleaseDate)
                       {
                           <td>@media.ReleaseDate</td>
                       }
                       <td>@media.Rating</td>
                       @if (UserRatings != null)
                       {
                           <td>
                               <Rating StarSize="10px" ReadOnly="true" CurrentValue="@UserRatings.Where(r => r.MovieId == @media.Id).Select(r => r.Rating).First()"/>
                           </td>
                       }
                   </tr>
               }
               </tbody>
       </table>
   }
   else
   {
       <p>@AlternativeText</p>
   }
}

@code {
    
    [Parameter]
    public IEnumerable<MediaRating>? UserRatings { get; set; }

    [Parameter]
    public bool ShowReleaseDate { get; set; } = true;
    [Parameter]
    public ICollection<Movie>? MediaList { get; set; } 

    [Parameter]
    public string AlternativeText { get; set; } = "No media found.";

}
