@page "/movieDetailView/{Id:int}"

<PageTitle>Media Details</PageTitle>
@using MediaHub.Services
@using MediaHub.Data.Model
@using Microsoft.AspNetCore.Routing.Matching
@inject MediaService MediaServiceInstance 

@if (movie != null)
{
<div class="detaile-view-container">
    <h1>@movie.Title</h1>
    <img width="100px" src="@movie.PosterUrl">
    <table class="media-data-table">
        <tbody>
            <tr>
                <td class="caption">Year:</td>
                <td>@movie.ReleaseDate</td>
            </tr>
            <tr>
                <td class="caption">Duration:</td>
                <td>@movie.Runtime min</td>
            </tr>
            <tr>
                <td class="caption">Genre:</td>
                <td>@string.Join(", ", @movie.Genres)</td>
            </tr>
            <tr>
                <td class="caption">TMDb Rating:</td>
                <td>@movie.Rating / 10</td>
            </tr>
            <tr>
                <td colspan="2">@movie.Overview</td>
            </tr>
        </tbody>
    </table>
</div>
}

@code {
    [Parameter]
  public int Id { get; set; }

  private IMovie movie;

  protected override async Task OnInitializedAsync()
  {
      movie = await MediaServiceInstance.GetMovie(Id);
  }
}
